---
subject: Votre Recommandation Recosanté
---

<spacer size="40"></spacer>
<container>
  <row>
    <columns>
      <spacer size="18"></spacer>
      <div class="show-for-large">
        <a href="https://recosante.beta.gouv.fr/">
          <center>
            <img src="assets/img/logo.gif" />
          </center>
        </a>
      </div>
      <div class="hide-for-large">
        <a href="https://recosante.beta.gouv.fr/">
          <center>
            <img src="assets/img/logo-small.gif" />
          </center>
        </a>
      </div>
      <spacer size="18"></spacer>
    </columns>
  </row>

  <row>
    <columns>
      <p class="lead">
        <strong> \{{contact.RECOMMANDATION|safe}} </strong>
      </p>
      <spacer size="16"></spacer>
      <p>\{{ contact.PRECISIONS|safe}}</p>
    </columns>
  </row>
  {% if contact.LIEN_QA_POLLEN %}
  <row>
    <columns>
      <p>
        <strong>
          ⚠️ Une mauvaise qualité de l'air peut aggraver les symptômes
          allergiques. Veillez à être encore plus attentif à cette
          recommandation.
        </strong>
      </p>
    </columns>
  </row>
  {% endif %}
  <spacer size="16"></spacer>
  {% if contact.POLLUANT %}
  <row>
    <columns>
      <callout class="alert">
        <spacer size="8"></spacer>
        <h3 class="text-center">
          ⚠️ <br />Un épisode de pollution \{{contact.POLLUANT}} est prévu
          aujourd'hui dans votre département.
        </h3>
        <spacer size="8"></spacer>
        <center>
          <button
            href="https://my.sendinblue.com/camp/showpreview/id/%7B%7B%20contact.LIEN_AASQA%20%7D%7D"
          >
            En savoir plus
          </button>
        </center>
      </callout>
    </columns>
  </row>
  {% endif %} {% if contact.QUALITE_AIR %}
  <row>
    <columns>
      <callout>
        <spacer size="8"></spacer>
        <h2 class="text-center">
          L'indice de qualité de l'air à
          <span class="color">\{{contact.VILLE}}</span> est&nbsp;<span
            style="color: \{{contact.BACKGROUND_COLOR}}"
            >\{{contact.QUALITE_AIR|lower}}</span
          >.
        </h2>
        <center>
          <img src="assets/img/chart-air.png" />
        </center>
        <spacer size="24"></spacer>
        <p class="text-right">
          <a href="\{{contact.LIEN_AASQA}}">En savoir plus</a>
        </p>
      </callout>
    </columns>
  </row>
  {% endif %} {% if contact.SHOW_RAEP %}
  <row>
    <columns>
      <callout>
        <spacer size="8"></spacer>
        <h2 class="text-center">
          Le risque d'allergie aux pollens \{{contact.PREPOSITION_DEPARTEMENT}}
          <span class="color">\{{contact.DEPARTEMENT}}</span> est&nbsp;<span
            style="color: \{{contact.BACKGROUND_COLOR_RAEP }}"
            >\{{contact.RAEP|lower}}</span
          >.
        </h2>
        <spacer size="16"></spacer>
        <center>
          <img src="assets/img/chart-pollens.png" />
        </center>
        <spacer size="24"></spacer>
        <p class="text-right">
          <a href="https://www.pollens.fr/">En savoir plus</a>
        </p>
      </callout>
    </columns>
  </row>
  {% endif %}
  <row>
    <columns>
      <h6 class="text-center">Partager Recosanté</h6>
    </columns>
  </row>
  <row>
    <columns small="4" large="6">
      <a
        href="mailto:?subject=Tu%20connais%20Recosant%C3%A9%20%3F&body=Tu%20connais%20Recosant%C3%A9%20%3F%20C'est%20une%20lettre%20d'information%20quotidienne%20qui%20te%20donne%20des%20conseils%20personnalis%C3%A9s%20en%20fonction%20de%20tes%20habitudes%20pour%20te%20prot%C3%A9ger%20des%20impacts%20de%20la%20qualit%C3%A9%20de%20l%E2%80%99air%20sur%20ta%20sant%C3%A9.%20Tous%20les%20matins%2C%20tu%20re%C3%A7ois%20un%20mail%20qui%20t'informe%20de%20la%20qualit%C3%A9%20de%20l'air%20autour%20de%20chez%20toi%20et%20une%20recommandation%20pour%20adapter%20ton%20comportement%20et%2Fou%20tes%20activit%C3%A9s%20en%20fonction.Pour%20t'inscrire%20%3A%20http%3A%2F%2Frecosante.beta.gouv.fr%2F%3Futm_source%3Dreferral"
        ><img class="float-right" src="assets/img/mail.png"
      /></a>
    </columns>
    <columns small="4">
      <div class="hide-for-large">
        <a href="fb-messenger://share?link=https://recosante.beta.gouv.fr/?utm_source=referral"
          ><center><img src="assets/img/messenger.png" /></center
        ></a>
      </div>
    </columns>
    <columns small="4" large="6">
      <a
        href="https://wa.me/?text=Tu%20connais%20Recosant%C3%A9%20%3F%20C%27est%20une%20lettre%20d%27information%20quotidienne%20qui%20te%20donne%20des%20conseils%20personnalis%C3%A9s%20en%20fonction%20de%20tes%20habitudes%20pour%20te%20prot%C3%A9ger%20des%20impacts%20de%20la%20qualit%C3%A9%20de%20l%E2%80%99air%20sur%20ta%20sant%C3%A9.%20Tous%20les%20matins%2C%20tu%20re%C3%A7ois%20un%20mail%20qui%20t%27informe%20de%20la%20qualit%C3%A9%20de%20l%27air%20autour%20de%20chez%20toi%20et%20une%20recommandation%20pour%20adapter%20ton%20comportement%20et%2Fou%20tes%20activit%C3%A9s%20en%20fonction.%20Pour%20t%27inscrire%20%3A%20http%3A%2F%2Frecosante.beta.gouv.fr%2F%3Futm_source%3Dreferral"
        ><img class="float-left" src="assets/img/whatsapp.png" / ></a
      >
    </columns>
  </row>
  <spacer size="30"></spacer>
  <row>
    <columns>
      <h6 class="text-center">Allez-vous appliquer cette recommandation ?</h6>
      <p class="text-center lead">
        <a
          href="http://ecosante.beta.gouv.fr/newsletter/\{{contact.SHORT_ID}}/avis?avis=oui"
        >
          👍&nbsp;Oui
        </a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a
          href="http://ecosante.beta.gouv.fr/newsletter/\{{contact.SHORT_ID}}/avis?avis=non"
        >
          👎&nbsp;Non
        </a>
      </p>
      <spacer size="20"></spacer>
      <p class="text-center">
        <a
          href="http://recosante.beta.gouv.fr/profil?user=\{{contact.USER_UID}}"
          >Modifier mon profil</a
        >
      </p>
    </columns>
  </row>
  <row>
    <columns>
      <h6 class="text-center">
        <small
          >Les données utilisées par Recosanté nous sont fournies par</small
        >
      </h6>
      <p class="text-center">
        <small
          ><a href="\{{contact.LIEN_AASQA}}">\{{contact.NOM_AASQA}}</a><br /><a
            href="https://www.pollens.fr/"
            >Le Réseau national de surveillance aérobiologique</a
          ></small
        >
      </p>
    </columns>
  </row>
  <row>
    <columns>
      <p class="text-center">
        <small>
          Conformément à la réglementation en vigueur, vous disposez d’un droit
          d’accès, de rectification et de suppression de vos données que vous
          pouvez exercer par courrier électronique à l'adresse&nbsp;:
          contact@recosante.beta.gouv.fr
        </small>
      </p>
      <p class="text-center">
        <small
          >Vous ne souhaitez plus recevoir ces e-mails ? <br />
          <a href="\{{ unsubscribe }}">Se désinscrire</a></small
        >
      </p>
    </columns></row
  ><row
    ><columns>
      <center>
        <img src="assets/img/footer.jpg" />
      </center> </columns
  ></row>
</container>
<spacer size="40"></spacer>
