---
subject: Votre Recommandation Recosanté
---

<spacer size="40"></spacer>
<container>
  <row>
    <columns>
      <spacer size="18"></spacer>
      <div class="show-for-large">
        <a href="https://recosante.beta.gouv.fr/">
          <center>
            <img src="assets/img/logo.gif" />
          </center>
        </a>
      </div>
      <div class="hide-for-large">
        <a href="https://recosante.beta.gouv.fr/">
          <center>
            <img src="assets/img/logo-small.gif" />
          </center>
        </a>
      </div>
      <spacer size="18"></spacer>
    </columns>
  </row>
  <row>
    <columns>
      <h1 class="text-center">
        Merci pour votre inscription à&nbsp;<span class="color">Recosanté</span
        >&nbsp;!
      </h1>
      <p class="text-center">
        <strong>Voici votre recommandation du jour.</strong>
      </p>

      <spacer size="16"></spacer>
      <hr />
      <spacer size="8"></spacer> </columns
  ></row>
  <row>
    <columns>
      <p class="lead">
        <strong> \{{contact.RECOMMANDATION|safe}} </strong>
      </p>
      <spacer size="16"></spacer>
      <p>\{{ contact.PRECISIONS|safe}}</p>
    </columns>
  </row>
  <spacer size="16"></spacer>
  {% if contact.POLLUANT %}
  <row>
    <columns>
      <callout class="alert">
        <spacer size="8"></spacer>
        <h3 class="text-center">
          ⚠️ <br />Un épisode de pollution \{{contact.POLLUANT}} est prévu
          aujourd'hui dans votre département.
        </h3>
        <spacer size="8"></spacer>
        <center>
          <button
            href="https://my.sendinblue.com/camp/showpreview/id/%7B%7B%20contact.LIEN_AASQA%20%7D%7D"
          >
            En savoir plus
          </button>
        </center>
      </callout>
    </columns>
  </row>
  {% endif %} {% if contact.QUALITE_AIR %}
  <row>
    <columns>
      <callout>
        <spacer size="8"></spacer>
        <h2 class="text-center">
          L'indice de qualité de l'air à
          <span class="color">\{{contact.VILLE}}</span> est&nbsp;<span
            style="color: \{{contact.BACKGROUND_COLOR}}"
            >\{{contact.QUALITE_AIR|lower}}</span
          >.
        </h2>
        <center>
          <img src="assets/img/chart-air.png" />
        </center>
        <spacer size="24"></spacer>
        <p class="text-right">
          <a href="\{{contact.LIEN_AASQA}}">En savoir plus</a>
        </p>
      </callout>
    </columns>
  </row>
  {% endif %} {% if contact.SHOW_RAEP %}
  <row>
    <columns>
      <callout>
        <spacer size="8"></spacer>
        <h2 class="text-center">
          Le risque allergique aux pollens {% if contact.DEPARTEMENT == "Paris"
          %}à {% else %}en {% endif %}
          <span class="color">\{{contact.DEPARTEMENT}}</span> est&nbsp;<span
            style="color: \{{contact.BACKGROUND_COLOR_RAEP }}"
            >\{{contact.RAEP|lower}}</span
          >.
        </h2>
        <spacer size="16"></spacer>
        <center>
          <img src="assets/img/chart-pollens.png" />
        </center>
        <spacer size="24"></spacer>
        <p class="text-right">
          <a href="https://www.pollens.fr/">En savoir plus</a>
        </p>
      </callout>
    </columns>
  </row>
  {% endif %}
  <row>
    <columns>
      <h6 class="text-center">Allez-vous appliquer cette recommandation ?</h6>
      <p class="text-center lead">
        <a
          href="http://ecosante.beta.gouv.fr/newsletter/\{{contact.SHORT_ID}}/avis?avis=oui"
        >
          👍&nbsp;Oui
        </a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a
          href="http://ecosante.beta.gouv.fr/newsletter/\{{contact.SHORT_ID}}/avis?avis=non"
        >
          👎&nbsp;Non
        </a>
      </p>
      <spacer size="20"></spacer>
      <p class="text-center">
        <a
          href="http://recosante.beta.gouv.fr/profil?user=\{{contact.USER_UID}}"
          >Modifier mon profil</a
        >
      </p>
    </columns>
  </row>
  <row>
    <columns>
      <h6 class="text-center">
        <small
          >Les données utilisées par Recosanté nous sont fournies par</small
        >
      </h6>
      <p class="text-center">
        <small
          ><a href="\{{contact.LIEN_AASQA}}">\{{contact.NOM_AASQA}}</a><br /><a
            href="https://www.pollens.fr/"
            >Le Réseau national de surveillance aérobiologique</a
          ></small
        >
      </p>
    </columns>
  </row>
  <row>
    <columns>
      <p class="text-center">
        <small>
          Conformément à la réglementation en matière de données personnelles,
          vous disposez d'un droit d'accès, de rectification, d'opposition,
          d'effacement et de portabilité de vos données que vous pouvez exercer
          par courrier électronique à l'adresse&nbsp;:
          recosante@data.gouv.fr</small
        >
      </p>
      <p class="text-center">
        <small
          >Vous ne souhaitez plus recevoir ces e-mails ? <br />
          <a href="\{{ unsubscribe }}">Se désinscrire</a></small
        >
      </p>
    </columns></row
  ><row
    ><columns large="5" small="5">
      <center>
        <img src="assets/img/repufrancaise.jpg" />
      </center> </columns
  ></row>
</container>
<spacer size="40"></spacer>
